.experience {
	position: relative;
	height: 100vh;

	.headline h1 {
		font-size: 60px;
		color: $color-white;
		margin: 0;

		span {
			color: $text-color;
		}
	}

	.subheadline {
		margin-top: 30px;
		color: $color-white;
		font-size: 25px;
	}

	.progress-bar__name {
		transform: translate(-69px, 110px) rotate(90deg);
	}
}

