.skils {
	position: relative;
	height: 100vh;

	&__wrapper {
		display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    margin-left: 150px;

    h1.headline {
			font-size: 60px;
			color: $text-color;
			margin: 0;
		}

		p.subheadline {
			margin-top: 30px;
			color: $text-color;
			font-size: 24px;
			border-left: 2px solid;
    	padding: 0 20px;
		}

		.skils-items {
			font-size: 24px;
			color: $color-white;

			&__item {
				margin: 20px 0;
			}
		}
	}

	.progress-bar__name {
		transform: translate(-38px,90px) rotate(90deg);
	}
}

