body {
  color: $color-white;
  font-family: $segoeUI;
  background: $color-dark;
}

body canvas {
  position: absolute;
}

body.scroll-hidden {
  overflow: hidden !important;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}
