@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/Segoe/SegoeUI.woff') format('woff'),
  url('../fonts/Segoe/SegoeUI.ttf') format('truetype'),
  url('../fonts/Segoe/SegoeUI.svg#SegoeUI') format('svg');
  font-weight: normal;
  font-style: normal;
}


$segoeUI: 'SegoeUI', 'Trebuchet MS';